In [1]:
import pandas

df=pandas.read_json('2x2_matches_dataset.json')

In [2]:
df

       has_relevant_water        wCiv1       wCiv2    lCiv1     lCiv2
0                    True        Celts    Persians   Franks    Mayans
1                   False      Vikings     Britons  Spanish  Saracens
2                   False         Huns      Mayans  Indians     Incas
3                   False   Bulgarians       Celts    Goths   Magyars
4                   False        Celts       Khmer  Britons     Khmer
...                   ...          ...         ...      ...       ...
22685               False      Britons  Bulgarians  Malians     Slavs
22686                True      Vikings     Spanish  Indians    Mayans
22687               False   Vietnamese    Persians  Mongols  Persians
22688               False       Franks     Mongols  Vikings    Franks
22689                True  Lithuanians     Vikings  Vikings    Franks

[22690 rows x 5 columns]